name: Release Drafter

on:
  push:
    branches:
      - series/1.x # CE3
      - series/2.x

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
